<%= form_for @timer,url:timers_path,method: :post do |d| %>
    <%= d.number_field :hour, max:24 %>時間<br>
    <%= d.number_field :min, max: 59 %>分<br>
    <%= d.number_field :sec, max:59 %>秒<br>
    <%= d.submit %>
<% end %>

<div class="shrap">#aadfaa</div>

<script>
const aaa = $(".shrap").text();

const kkk = aaa.slice(0,1);

kkk = kkk.replace("#", "");

$(".shrap").text(kkk);


</script>