<div class="timer">
    <br>
    <p>お疲れ様です！</p>
    <h4><%= @timer.hour %>時間<%= @timer.min %>分<%= @timer.sec %>秒勉強しました。</h4><br>

    <p>こちらで修正できます。</p><br>
    <%= form_for @timer, url:timer_path(@timer.id), method: :patch do |d| %>
        <%= d.number_field :hour, max:24 %>時間<br><br>
        <%= d.number_field :min, max: 59 %>　分<br><br>
        <%= d.number_field :sec, max:59 %>　秒<br><br>
        <%= d.text_area :detail,:placeholder => "メモ記入欄" %><br><br>
        <%= d.submit %>
    <% end %>
<br>
    合計<%= @hour_total %>時間
    <%= @min_total %>分
    <%= @sec_total %>秒勉強しています
</div>

<style>
.timer{
    text-align:center;
}
textarea{
    width:170px;
    height:40px;
    padding:10px 0 0 45px;
}