
<div class="search">
    <div class="glyphicon glyphicon-remove", id="remove"></div>

    <%= search_form_for(@search,url:posts_other_users_posts_path) do |f|%>
        <p><%= f.collection_select :language_id_eq, @lang, :id, :lang_name, :include_blank => "言語選択" %></p><br>
        <p><%= f.text_field :title_cont, :placeholder => "タイトル" %></p><br>
        <p><%= f.text_area :body_cont, :placeholder => "本文" %></p><br>
        <p><%= f.text_field :created_at_gteq, :placeholder => "ex.09/01" %>~<%= f.text_field :created_at_lteq, :placeholder => "ex.09/05" %></p><br>
        <%= f.submit "検索", id:"search_submit"  %><br><br>
    <% end %>
</div>

<h2 class="page_title">＜ みんなの投稿 ＞</h2>

<a href= "#" class="glyphicon glyphicon-search" id="custom_search">カスタム検索</a>

<div class="post_all">
    <% @posts.each do |post| %>
        <div class="post_each">
        <div class="post_left">
            <% if post.user.image.attached? %>
                <p><%= image_tag post.user.image, size:"70x70" %></p>
            <% else %>
                <p><%= image_tag "no_image.png", size:"70x70" %></p>
            <% end %>
        </div>
            <div class="post_top">
                <div class="post_when"><%= post.updated_at %></div>
                <div class="post_when"><%= post.user.name %></div>
                <div class="post_lang"><%= post.language.lang_name %></div> <br>
            </div>

            <div class="post_bottom">
                <div class="post_title">
                <%= link_to post_path(post.id) do%>
                    <%= post.title %>
                <% end %>
                </div>
            </div>
        </div>
    <% end %>
    <div class="paginate"><%= paginate @posts, class:"paginate" %></div>
</div>

</div>
<style>
/* search */
.search{
    margin-top:10px;
    width:100%;
    text-align:center;
}
.post_all{
    margin-top: 20px;
}
.post_each{
    margin: 0 auto;
    width:700px;
    height:70px;
    margin-bottom: 40px;
    border:solid 1px black;

}
.post_lang{
    float:left;
    font-size:20px;
    padding-left:15px;

}
.page_title{
margin-left:540px;
}
.post_when{
    float:right;
    margin-left:30px;
    font-size:15px;
}
.post_left{
    float:left;
    height:69px;
    border-right:1px solid black;
}
.post_left img{
    height:67.5px;
}
.post_title{
    float:left;
    padding-left:20px;
    font-size:24px;

}

.post_top{
    background-color: #FAAC58;
    height:30px;
    border-bottom:solid 1px black;
}
.post_bottom{
    width:100%;

}
.paginate{
    text-align:center;
    font-size: 20px;
}
.search {
    display:none;
}
#custom_search{
    font-size: 20px;
    left:64%;
    margin-top:25px;
    display: inline-block;
    border: 2px solid grey;
    padding:15px;
    border-radius: 50%;
}
input[type="text"]{
    width: 300px;
    height: 50px;
}
textarea{
    width:300px;
    height: 80px;
}
.search{
    margin-top:50px;
}
#remove{
    color:grey;
    font-size:30px;
    left:30%;
}
#search_submit {
   height:50px;
   width:90px;
}
</style>

<script>

$(document).on('click', "#custom_search", function(){
    $("#custom_search").fadeToggle();
    $('.post_all').fadeToggle();
    $('.page_title').fadeToggle();
    $(".search").slideToggle();
    return false;
});

$("#remove").on("click",function(){
    $("#custom_search").slideToggle();
    $('.post_all').slideToggle();
    $('.page_title').slideToggle();
    $(".search").fadeToggle();
    return false;
});
</script>
