<!DOCTYPE html>
<html>
  <head>
    <title>ProstaSoturon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="container">
        <div class="nav navbar-nav navbar-left">
        <h4 class="header_greet">こんにちは<%= @header %>さん</h4>
      </div>

        <nav class="nav navbar-nav navbar-right">
          <ul>
            <% if user_signed_in? %>
                  <li><%= link_to "ユーザ詳細画面へ", user_path(current_user.id),class:'glyphicon glyphicon-user'%></li>
                  <li><%= link_to "投稿一覧画面", posts_path,class:'glyphicon glyphicon-book' %></li>
                  <li><%= link_to "時間を入力する", new_timer_path,class:'glyphicon glyphicon-time' %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:'glyphicon glyphicon-fire' %></li>
            <% else %>
                  <li><%= link_to "ログイン画面", new_user_session_path,class:'glyphicon glyphicon-user' %></li>
                  <li><%= link_to "会員登録画面", new_user_registration_path,class:'glyphicon glyphicon-user' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .navbar-right li {
    padding-top: 15px;
    margin:0 0 20px 20px;
    float: left;
    list-style: none;
  }

.header_greet {
  margin-left: 10px;
}
.glyphicon {
  color: black;
  font-size: 20px;
  font-weight: 100;
}

</style>
    <%= yield %>
  </body>
</html>

